# Dependencies
node_modules/
**/node_modules/

# Environment variables & secrets
.env
.env.*
!.env.example
**/.env
**/.env.*
!**/.env.example

# Production builds
dist/
**/dist/
dist-ssr/

# Logs
*.log
logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor & OS files
.DS_Store
.idea/
.vscode/*
!.vscode/extensions.json
*.local
